.cesium-credit-textContainer {
  display: none !important;
}

.distance-legend {
  bottom: 0px !important;
  left: 200px;
  height: 26px !important;
}
.crt-information-bar {
  position: absolute;
  bottom: 0px;
  z-index: 991;
  /* padding: 3px 10px; */
  font-size: 13px;
  color: #e9e9e9;
  text-shadow: 2px 2px 2px #000;
  background-color: rgba(38, 42, 48, 0.7);
  pointer-events: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-left: 50%;
  box-sizing: border-box;
}
.crt-information-bar > div {
  float: left;
  margin-right: 30px;
}
@media screen and (max-width: 700px), screen and (max-height: 420px) {
  .crt-information-bar {
    display: none;
  }
}
