.cesium-credit-textContainer {
  display: none !important;
}

.distance-legend {
  bottom: 0px !important;
  left: 200px;
  height: 26px !important;
}
.crt-information-bar {
  position: absolute;
  bottom: 0px;
  z-index: 991;
  /* padding: 3px 10px; */
  font-size: 13px;
  color: #e9e9e9;
  text-shadow: 2px 2px 2px #000;
  background-color: rgba(38, 42, 48, 0.7);
  pointer-events: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-left: 50%;
  box-sizing: border-box;
}
.crt-information-bar > div {
  float: left;
  margin-right: 30px;
}
@media screen and (max-width: 700px), screen and (max-height: 420px) {
  .crt-information-bar {
    display: none;
  }
}

/**cesium工具栏位置*/
.cesium-viewer-toolbar {
  top: auto;
  left: auto;
  right: 24px;
  top: 300px;
}

.cesium-viewer-toolbar > .cesium-toolbar-button,
.cesium-navigationHelpButton-wrapper,
.cesium-viewer-geocoderContainer {
  margin-bottom: 5px;
  float: right;
  clear: both;
  text-align: center;
}

.cesium-baseLayerPicker-dropDown {
  /* bottom: 0; */
  right: 40px;
  /* max-height: 600px !important; */
  margin-bottom: 5px;
  top: -150px;
}

.cesium-navigation-help {
  top: auto;
  bottom: 0;
  right: 40px;
  transform-origin: right bottom;
}

.cesium-sceneModePicker-wrapper {
  width: auto;
}

.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-dropDown-icon {
  float: left;
  margin: 0 3px;
}

.cesium-viewer-geocoderContainer .search-results {
  left: 0;
  right: 40px;
  width: auto;
  z-index: 9999;
}

.cesium-infoBox-title {
  background-color: #3f4854;
}

.cesium-infoBox {
  top: 50px;
  background: rgba(63, 72, 84, 0.9);
}
.cesium-baseLayerPicker-choices {
  display: flex;
  flex-wrap: wrap;
}

.navigation-controls {
  background: rgba(63, 72, 84, 0.9);
  border-radius: 14%;
  width: 32px !important;
  right: 27px !important;
}
.navigation-controls > div:hover {
  color: #fff;
  fill: #fff;
  background: #48b;
  border-color: #aef;
  box-shadow: 0 0 8px #fff;
}
.cesium-viewer-geocoderContainer .cesium-geocoder-input {
  border-radius: 14%;
}
.cesium-geocoder-searchButton {
  background: rgba(63, 72, 84, 0.9);
}
.cesium-viewer-fullscreenContainer {
  display: block;
  position: relative;
  float: right;
  clear: both;
  text-align: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;

  margin-right: 2px;
}
.cesium-button.cesium-fullscreenButton{
  border-radius: 14%;
}
.cesium-viewer-bottom{
  width: 100%;
}
.cesium-viewer .cesium-widget-credits{
  float: left;
}
.cesium-viewer-timelineContainer{
  right: 0 !important;
}